/* 페이지 배경 */
body {
  background-color: #F2D1C9;
  margin: 0;
  padding: 0;
}

/*로그인 텍스트*/
.content h3 {
    margin : 30px;
    font-size: 32px;
    font-weight: bold;
    line-height: 38.19px;
    text-align: center;
    color: #355B8C;
    font-family: 'BinggraeMelona-Bold';
}

/*비밀번호 텍스트*/
.content h5 {
    margin-top: 18px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    margin-right: 320px;
    color: #355B8C;
    font-family: 'BinggraeMelona-Bold';
}

/* 비밀번호 수정 섹션 스타일 */
.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: 530px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 15px;
  border: #A9BACA 1px solid;
  }
  
  /* 폼 스타일 */
  .login-form {
    width: 392px;
    height: 221px;
    padding: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #A9BACA;
    border-radius: 4px;
    margin-top: 10px;
    background-color: white;
    color: #355B8C;
    font-family: 'BinggraeMelona-Bold';
  }

  /*라벨*/
  .form-group label {
    font-weight: bold;
    font-size: 15px;
    line-height: 17.9px;
    color: #355B8C;
    font-family: 'BinggraeMelona-Bold';
  }
  
  /*수정하기 버튼*/
  .change-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #A9BACA;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    font-family: 'BinggraeMelona-Bold';
  }

  .change-button:hover {
    background-color: #355B8C;
  }

  /*헬퍼 텍스트*/
  .form-group .helptxt {
    text-align: left;
    color: #355B8C;
    font-size: 12px; 
    margin-top: 5px; 
    font-weight: normal;
    font-weight: 400;
    line-height: 14.52px;
    font-family: 'BinggraeMelona-Bold';
}

/* 수정완료 토스트 메시지 */
.toast-message {
  width: fit-content;
  height: fit-content;
  padding: 12px 24px;
  background-color: #A9BACA;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: -0.01em;
  cursor: default;
  visibility: hidden;
  font-family: 'BinggraeMelona-Bold';
  /* 텍스트 가운데 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
  
}