/* 페이지 배경 */
body {
    background-color: #F4F5F7;
    margin: 0;
    padding: 0;
}

.post-form {
    max-width: 570px;
    margin: 40px auto;
    padding: 0 20px;
}

.post-form h2 {
    height: 31px;
    top: 128px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
}

.input-group {
    margin-bottom: 24px;
}

.input-group label {
    display: block;
    margin-bottom: 20px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
}

.input-group input[type="text"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    background-color: #F4F5F7;
}

.input-group textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    resize: none;
    background-color: #F4F5F7;
}

.image-upload {
    padding: 8px 16px;
    background-color: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
    margin-left: 12px;
}

.submit-btn {
    display: block;
    width: 355px;
    margin: 40px auto 0;
    padding: 12px;
    background-color: #ACA0EB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.71px;
}

.submit-btn:hover {
    background-color: #7F6AEE;
}

.image-upload-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.upload-guide {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.71px;
}

.helper-text {
    color: #ff0000;
    font-size: 12px;
    margin-top: -20px;
}
